
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Pomito dark theme */
    --background: 32 8% 10%;
    --foreground: 0 0% 98%;
    --card: 32 10% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 32 10% 30%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 14%;
    --secondary: 30 10% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 32 10% 10%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 240 4.9% 12%;
    --radius: 1rem;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  }

  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: -0.01em;
  }

  /* Custom scrollbars for dark bg */
  ::-webkit-scrollbar {
    width: 8px;
    background: #23201d;
  }
  ::-webkit-scrollbar-thumb {
    background: #302b29;
    border-radius: 10px;
  }
}
